<!--Contributed by (Pradip Karnavat) 
    Email : karnavatpradip12345@gmail.com-->



<!-- <h1 class="iitbxcss">{{resdata}}</h1> -->

<div class="iitbxtitle">IITBombayX Courses</div>
<div class="testimonial-group">


  <div class="row">

  	<div  ng-repeat="course in courselist" ng-click="opencontainer(course)" class="col-xs-12 col-sm-3 coursecontainer">
  		<div class="courseimagecontainer">
  			<img src="../../myimages/test.png" class="courseimage">
  		</div>
  		<p class="coursetitle">{{course}}</p>


  		
  	</div>

  	<!-- <div class="col-xs-12 col-sm-3 coursecontainer">
  		<div class="courseimagecontainer">
  			<img src="../../myimages/test.png" class="courseimage">
  		</div>
  		<p class="coursetitle">Computer Science</p>

  	</div>
  	<div class="col-xs-12 col-sm-3 coursecontainer">
  		<div class="courseimagecontainer">
  			<img src="../../myimages/test.png" class="courseimage">
  		</div>
  		<p class="coursetitle">Computer Science</p>

  	</div>
  	<div class="col-xs-12 col-sm-3 coursecontainer">
  		<div class="courseimagecontainer">
  			<img src="../../myimages/test.png" class="courseimage">
  		</div>
  		<p class="coursetitle">Computer Science</p>

  	</div>
  	<div class="col-xs-12 col-sm-3 coursecontainer">
  		<div class="courseimagecontainer">
  			<img src="../../myimages/test.png" class="courseimage">
  		</div>
  		<p class="coursetitle">Computer Science</p>

  	</div>
  	<div class="col-xs-12 col-sm-3 coursecontainer">
  		<div class="courseimagecontainer">
  			<img src="../../myimages/test.png" class="courseimage">
  		</div>
  		<p class="coursetitle">Computer Science</p>

  	</div>
  	<div class="col-xs-12 col-sm-3 coursecontainer">
  		<div class="courseimagecontainer">
  			<img src="../../myimages/test.png" class="courseimage">
  		</div>
  		<p class="coursetitle">Computer Science</p>

  	</div> -->

 	<!-- <div class="col-xs-12 col-sm-3 coursecontainer">1</div>
 	<div class="col-xs-12 col-sm-3 coursecontainer">2</div>
 	<div class="col-xs-12 col-sm-3 coursecontainer">3</div>
 	<div class="col-xs-12 col-sm-3 coursecontainer">4</div>
 	<div class="col-xs-12 col-sm-3 coursecontainer">5</div>
 	<div class="col-xs-12 col-sm-3 coursecontainer">6</div>
 	<div class="col-xs-12 col-sm-3 coursecontainer">7</div>
 	<div class="col-xs-12 col-sm-3 coursecontainer">8</div>
 	<div class="col-xs-12 col-sm-3 coursecontainer">9</div>
 	<div class="col-xs-12 col-sm-3 coursecontainer">10</div> -->
  </div>
</div>